@use 'variables';
@use "sass:map";

.main__formulario {
    display: flex;
    flex-direction: column;
}

.formulario {
    &__title {
        background: linear-gradient(to right, map-get(variables.$paleta_3, texto), map-get(variables.$paleta_1, principal));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-weight: bold;
        text-align: center;
        font-size: 35px;
    }

    &__label {
        font-weight: 700;
        color: map-get(variables.$paleta_3, texto);
    }

    &__input {
        height: 25px;
        margin-top: 5px;
        margin-bottom: 20px;
        background: transparent;
        border: 1px solid map.get(variables.$paleta_3, primario);
        border-radius: 5px;
        padding-left: 10px;
        color: whitesmoke;
        font-weight: 700;
        transition: all 0.3s ease;

        &:focus-within {
            border-color: #fff;
            background: rgba(255, 255, 255, 0.2);
        }
    }

    &__select {
        height: 30px;
        margin-top: 5px;
        margin-bottom: 20px;
        background: transparent;
        border: 1px solid map.get(variables.$paleta_3, primario);
        border-radius: 5px;
        padding-left: 10px;
        color: whitesmoke;
        font-weight: 700;
        transition: all 0.3s ease;
        
        &:focus-within {
            border-color: #fff;
            background: rgba(255, 255, 255, 0.2);
        }
    }

    &__boton {
        height: 35px;
        width: 50%;
        background: linear-gradient(to right, map-get(variables.$paleta_3, texto), map-get(variables.$paleta_1, principal));
        border-style: none;
        border-radius: 5px;
        color: whitesmoke;
        font-weight: 700;
        align-self: center;
        cursor: pointer;
    }
}
.select__option {
        background-color: #2D3436;
    }