@use 'variables';
@use "sass:map";

.header {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.100);
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 100px;
    padding: variables.$padding-general;
    border-radius: 5px;
    height: 10vh;

    &__brand {
        width: 200px;
    }

    &__search {
        display: flex;
        align-items: center;
        background: transparent;
        border: 1px solid whitesmoke;
        border-radius: 20px;
        padding: 5px 15px;
        width: 300px;
        transition: all 0.3s ease;

        &:focus-within {
            border-color: #fff;
            background: rgba(255, 255, 255, 0.2);
        }
    }

    &__search-icon {
        width: 18px;
        height: 18px;
        color: #fff;
        margin-right: 10px;
    }

    &__search-input {
        background: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: 16px;
        width: 100%;
        font-weight: 700;

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }
}
