@use 'variables';
.header {
    height: 20vh;
    margin-bottom: 1rem;
    &__brand {
        width: 200px;
    }
    &__container {
        display: flex;
        align-items: center;
        &--izq {
            width: 40%;
        }
        &--der {
            width: 60%;
        }
    }
    &__title {
        margin: 0.5rem 0;
        color: variables.$primario;
    }
    &__input {
        border-radius: 50px;
        border-style: none;
        padding: 0 1rem;
        height: 25px;
        width: 50%;
    }
}
.nav {
    &__list {
        display: flex;
        justify-content: center;
        padding: 0;
        gap: 2rem;
        list-style: none;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: variables.$primario;
        border-radius: 5px;
        width: 25%;
        height: 25px;
    }
    &__link {
        color: whitesmoke;
        text-decoration: none;
    }
}