@use 'variables';
.header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__brand {
        width: 300px;
    }
    &__input {
        margin-top: 25px;
        height: 30px;
        width: 50%;
        border-radius: 50px;
        border-style: none;
        padding: 0 10px;
        font-weight: 700;
    }
    &__input:focus {
        border-color: variables.$primario;
        outline: none;
        box-shadow: 
        0 0 5px rgba(1, 5, 209, 0.733), 0 0 10px #2697f1;
    }
}